.main-content {
    display: flex;
    flex-direction: column;
    padding: 0 24px 12px;
    background-color: #f5f5dd;
    width: 85%;
}

.main-content h1 {
    font-size: 2em;
    color: #2c0300
}
.sub-content {
    display: flex;
    padding: 0 24px 24px;
    justify-content: space-between;
}

.details {
    width: 40%;
    font-size: 1em;
}

.sub-content img {
    width: 40vw;
}

li {
    list-style-image: url('assets/coffeeicon.png');
    /* from https://tinypng.com/backend/opt/output/1jqw77wqn2dbnxwrymd3yssr8m45953f/coffeesmall.png */
}

.sub-content p {
    padding-left: 20px;
 
}
