

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: #f2ecb7;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    min-width: 800px;
    color: #2c0300;
    margin-top: 20px;
    box-shadow: 5px 5px 5px #2c0300;
}

header {
    background-color: #cdaa65;
    text-align: center;
}

header img {
    width: 60vw;
}

.main {
    display: flex;
    height: 80%;
    width: 100%;
}

nav { 
    font-weight: bold;
	text-align: center;
    font-size: 1.5em; 
    padding-top: 20px; 
    float: left; 
    width: 15%; 
    display: flex;
    flex-direction: column;
    background-color: #e2d1b3;
}

nav a {
    text-decoration: none;
    color: #7a4e49;
}

nav a:visited {
    color: #9e8266;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 0 24px 12px;
    background-color: #f5f5dd;
    width: 85%;
}

.main-content h1 {
    font-size: 2em;
    color: #2c0300
}
.sub-content {
    display: flex;
    padding: 0 24px 24px;
    justify-content: space-between;
}

.details {
    width: 40%;
    font-size: 1em;
}

.sub-content img {
    width: 40vw;
}

li {
    list-style-image: url('assets/coffeeicon.png');
    /* from https://tinypng.com/backend/opt/output/1jqw77wqn2dbnxwrymd3yssr8m45953f/coffeesmall.png */
}

.sub-content p {
    padding-left: 20px;
 
}

footer {
    text-align: center;
    background-color: #d1b38e;
    padding: 24px;
}

footer a {
    color: #740a00
}
