
.menu-content {
    display: flex;
    flex-direction: column;
    padding: 0 24px 12px;
    background-color: #f5f5dd;
    width: 85%;
    align-items: center;
    padding-bottom: 36px;
}

.menu-content h1 {
    width: 100%;
    font-size: 2em;
}

table {
    color: #2c0300;
    font-size: 1.5em;
    width: 70%;
}

table tr:nth-child(odd) {
    background-color: #d1b38e;
}

table tr:nth-child(even) {
    background-color: unset;
}

table td {
    padding: 24px;
}

table td:nth-child(1) {
   max-width: 40%;
   text-align: center;
}
table td:nth-child(2) {
   max-width: 60%;
}

footer a {
    color: #740a00
}